.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fffdfa;
  height: 100px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 300px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  font-size: 20px;
}

.nav-menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-underline {
  display: flex;
  margin: auto;
  width: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-right: 10px;
}

.nav-item:hover .nav-underline {
  opacity: 1;
}

.nav-underline.active {
  opacity: 1;
}

.nav-menu li img {
  display: flex;
  margin: auto;
  width: 50px;
}

.nav-indicator {
  width: 4px;
  height: 20px;
  transform: rotate(90deg);
}

.nav-indicator-placeholder {
  width: 4px;
  height: 20px;
}

.anchor-link {
  text-decoration: none;
  color: black;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 1100px) {
  .nav-connect {
    display: none;
  }

  .logo {
    width: 250px;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
    cursor: pointer;
    transition: opacity 0.2s;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
    cursor: pointer;
    transition: opacity 0.2s;
    color: white;
  }

  .nav-mob-open:hover,
  .nav-mob-close:hover {
    opacity: 0.7;
  }

  .nav-menu {
    position: fixed;
    right: -350px;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 20px;
    background-color: black;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
  }

  .nav-menu li {
    font-size: 28px;
    padding: 50px;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .nav-underline {
    width: 60px;
    margin-right: 15px;
  }

  .nav-menu p {
    color: white;
  }

  .nav-indicator {
    width: 6px;
    height: 30px;
  }

  .nav-indicator-placeholder {
    width: 6px;
    height: 30px;
  }
}
